<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::title}, ~{::section})">

<head>
    <title>Admin - Reports</title>
</head>

<body>
    <section>
        <h3>Reports</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card p-3 text-center">
                    <h5>Total Orders</h5>
                    <p class="fs-4">45</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 text-center">
                    <h5>Total Revenue</h5>
                    <p class="fs-4">$12,000</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>